body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: url('assets/DJI_20240318131045_0091_D.JPG') no-repeat center center/cover;
    color: white;
    overflow-y: auto;
    text-align: left;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.content {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: left;
}

.content h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.section {
    margin: 15px 0;
}

.section p {
    margin: 5px 0;
}

.content a {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 0.85em;
    transition: background-color 0.3s, transform 0.3s;
}

.content a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.projects {
    margin-top: 15px;
}

.project {
    margin-bottom: 10px;
}

ul {
    padding-left: 15px;
    text-align: left;
}
